html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f2f5;
}

header {
  background-color: #333333;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  font-size: 2.5em;
}

nav ul {
  list-style-type: none;
  gap: 20px;
  display: flex;
  justify-content: center;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #67ceed;
}

button {
  border: none;
  background-color: black;
  color: white;

  padding: 10px;
}
button:hover {
  background-color: white;
  color: black;
}
section {
  height: 100vh;
}

.skills {
  font-weight: 700;
}

#projects {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: aqua;
}

.project {
  background-color: rgb(4, 44, 61);
  border-radius: 1rem;
  padding: 10px;
}

.project h3 {
  margin-top: 1rem;
  font-size: 25px;
}

.project p {
  font-size: 20px;
  margin: 10px 0;
  color: #f0f2f5;
}

.project a {
  text-decoration: none;
  color: white;
}

.project a:hover {
  color: #67ceed;
  transition: 1s;
}

.project img {
  max-width: 100%;
  border-radius: 10px;
}

.project .links {
  display: flex;
  justify-content: end;
  gap: 15px;
}
